<div class="formulario">
    <form action="/cadastro" method="post">
        <p>Quilometragem:</p>
        <input type="number" name="quilometragem" id="">
        <p>Litros:</p>
        <input type="number" name="litros" id="">
        <p>Matricula:</p>
        <input type="text" name="matricula" id="">
        <p>Data da viagem:</p>
        <input type="date" name="dataViagem" id="">
        <button type="submit">Submeter</button>
    </form>
</div>